.Contact{
    margin: 0 20px;
    padding: 50px 0;
    height: 100vh;

}
.Contact h3 {
    margin: 0 0 20px 0;
    font-size: 30px;
}
.Contact .information{
    margin-bottom: 20px;
}
.Contact .information div{
    display: flex;
}
.Contact .information p{
    text-align: center;
    margin: 10px;
    font-size: 18px;
}
.Contact .information text{
    margin: auto 0;
    font-size: 18px;
    text-align: center;
}
.Contact .information img{
    margin-top: 3px;
}
.Contact form{
    display: flex;
    flex-direction: column;
    border: 1px solid #FFE697;
    border-radius: 20px;
    padding: 10px 0;
    font-size: 15px;
    width: 90%;
    margin: 0 auto;
}
.Contact label{
    text-align: center;
    margin-bottom: 5px;
}
.Contact input{
    width: 70%;
    margin: 0 auto 15px auto;
}
.Contact textarea{
    width: 70%;
    margin: 0 auto 15px auto;
}
.Contact .message_in{
    height: 100px;
}

@media screen and (min-width : 1024px) {
    .Contact form{
        width: 80%;
    }
    .Contact label{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .Contact input, .Contact textarea{
        margin-bottom: 20px;
    }
}